*{
    background-color: #9333ea;
}
body, html {
    height: 100%;
    margin: 0;
  }
.container{
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template: 
    [row1-start] "sidebar header" 1fr [row1-end]
    [row2-start] "sidebar main" 4fr [row2-end]
    / 1fr 4fr;
}
.sidebar{
    grid-area: sidebar;
    background-color: red;
}
.logo{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    padding: 2rem;
}
.logo > span{
    color: white;
    font-size: xx-large;
}
.logo-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 25px;
    height: 25px;
    gap: 3px;
    justify-self: end;
    align-self: center;
}
.logo-box > *{
    background-color: white;
    border-radius: 15px;

}

.links > ul{
   list-style: none;
   margin: 0;
   padding: 0;
}
.header{
    grid-area: header;
    background-color: blue;
}
.main{
    grid-area: main;
    background-color: green;
}
