body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
  a{
    text-decoration: none;
    color: white;
  }
.container{
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template: 
    [row1-start] "sidebar header" 1fr [row1-end]
    [row2-start] "sidebar main" 4fr [row2-end]
    / 1fr 5fr;
}
.sidebar{
    grid-area: sidebar;
    background-color: #9333ea
}

svg{
    width: 25px;
    fill: white;
    align-self: center;
}
li{
    font-size: x-large;
}
.headline{
    font-size: xx-large;
}
.headline-svg{
    width: 40px;
}

.sidebar ul{
    display: grid;
    grid-template-columns: 1fr 8fr;
    gap: 1rem;
    padding: 2rem;
    margin: 0;
    color: white;
    font-weight: bold;
    list-style: none;
}
.header{
    grid-area: header;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 15px;
    gap: 15px;
}
.top-left{
    display: grid;
    grid-template-columns: 25px 1fr;
    gap: 15px;
}
.top-left svg{
    fill: black;
    background-color: white;
}
.searchbar{
    background-color: rgb(219, 219, 219);
    min-width: 100px;
    height: 25px;
    border-radius: 15px;
    align-self: center;
}
.top-right{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
.top-right svg{
    fill: black;
    justify-self: end;
}
.profile-picture-tr{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: yellow;
    justify-self: center;
}
.name-tr{
    background-color: white;
}
.bottom-left{
    display: grid;
    grid-template: 
    [row1-start] "picture greeting" 1fr [row1-end]
    [row2-start] "picture name" 1fr [row2-end]
    / 80px 1fr;
}
.profile-picture-bl{
    grid-area: picture;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: yellow;
    align-self: center;
}
.greeting{
    grid-area: greeting;
    align-self: end;
    font-size:small;
}
.name-bl{
    grid-area: name;
    font-size:x-large;
}
.bottom-right{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    align-items: center;
}
.button{
    display: grid;
    align-items: center;
    justify-items: center;
    min-width: 50px;
    height: 35px;
    border-radius: 30px;
    background-color: #9333ea;
    color: white;
    font-weight: bold;
}

.main{
    grid-area: main;
    background-color: rgb(235, 235, 235);
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 20px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    height: 90%;
    align-items: stretch;
}

.main-rs{
    display: grid;
}
.card{
    background-color:rgb(197, 197, 197) ;
    padding: 20px;
}