*{
    background-color: #9333ea;
}
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
.container{
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template: 
    [row1-start] "sidebar header" 1fr [row1-end]
    [row2-start] "sidebar main" 4fr [row2-end]
    / 1fr 5fr;
}
.sidebar{
    grid-area: sidebar;
}

svg{
    width: 25px;
    fill: white;
    align-self: center;
}
li{
    font-size: x-large;
}
.headline{
    font-size: xx-large;
}

.sidebar ul{
    display: grid;
    grid-template-columns: 1fr 8fr;
    gap: 1rem;
    padding: 2rem;
    margin: 0;
    color: white;
    font-weight: bold;
    list-style: none;
}
.header{
    grid-area: header;
    background-color: blue;
}
.main{
    grid-area: main;
    background-color: green;
}
